:root {
  --primary-color: rgb(250, 151, 168);
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-font: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif !important;
  padding: 0;
}

.nav-link {
  color: white !important;
}

.banner-image {
  background-image: url("../images/coding_2_1.jpg");
  background-size: cover;
}

.content {
  position: relative;
  margin-left: 73.5px;
}

.name {
  color: var(--primary-color);
}

.greetings {
  font-size: 80px;
  line-height: 1.1;
  margin-bottom: 0;
}

.hello,
.developer {
  color: rgb(177, 177, 177);
}

.developer {
  margin-bottom: 0;
  line-height: 0.8;
}

.hello {
  font-size: 40px;
  line-height: 0.5;
}

.contact-btn {
  padding: 10px 20px;
  margin-top: 65px;
  border: 1px solid white;
  border-radius: 6px;
  background: none;
}

.contact-link {
  text-decoration: none;
  color: white;
}

.contact-link:hover {
  text-decoration: none;
  color: rgb(177, 177, 177);
}

.last-projects {
  color: var(--primary-color);
  font-size: 50px;
}

.built-with {
  font-size: 10px;
  text-decoration: underline;
  color: rgb(177, 177, 177);
}

.services {
  background: white;
  padding-bottom: 60px;
}

.services-h3 {
  color: var(--primary-color);
  font-size: 50px;
}

.services-content {
  border-radius: 8px;
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.services-content:hover {
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.services-icons {
  font-size: 35px;
  padding-bottom: 5px;
}

.services-info {
  margin-bottom: 0;
  font-size: 11px;
}

.footer {
  position: static;
  background: var(--primary-color);
  padding: 10px 0;
  color: white;
  text-align: center;
}

.icons {
  padding: 0 30px;
  font-size: 25px;
}

.icons:hover {
  color: rgb(218, 218, 218) !important;
}

.cols {
  margin: 0 10px;
  padding: 0;
}

.imgs {
  max-width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.imgs:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@media (min-width: 576px) {
  .greetings {
    font-size: 150px;
  }

  .hello {
    font-size: 75px;
  }

  .developer {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .greetings {
    font-size: 70px;
  }

  .content {
    margin-left: 40px;
    margin-top: 200px;
  }

  .hello {
    font-size: 35px;
  }

  .greetings {
    font-size: 50px;
  }

  .developer {
    font-size: 15px;
  }

  .recent-projects {
    margin: 20px !important;
  }

  .last-projects,
  .services-h3 {
    font-size: 33px;
  }

  .services {
    margin: 20px;
  }

  .app-info,
  .app-name {
    display: none;
  }

  .built-with {
    font-size: 8px;
  }

  .icons {
    font-size: 20px;
  }
}
