:root {
  --primary-color: white;
  --secondary-color: rgb(177, 177, 177);
  --third-color: rgb(118, 118, 118);
  --fourth-color: rgb(72, 72, 72);
  --fifth-color: #262a2e;
  --primary-box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
  --secondary-box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.7);
  --main-font: "Roboto", sans-serif;
}

body {
  background-color: black !important;
  font-family: "Roboto", sans-serif !important;
  padding: 0;
}

.nav-link {
  color: white !important;
}

.banner-image {
  background-image: url("../images/coding_2_1.jpg");
  background-size: cover;
}

.content {
  position: relative;
  margin-left: 73.5px;
}

.name {
  color: var(--primary-color);
}

.greetings {
  font-size: 80px;
  line-height: 1.1;
  margin-bottom: 0;
}

.hello,
.developer {
  color: #262a2e;
}

.developer {
  margin-bottom: 0;
  line-height: 0.8;
}

.hello {
  font-size: 40px;
  line-height: 0.5;
}

.iam {
  color: var(--fourth-color);
}

.contact-btn {
  padding: 10px 20px;
  margin-top: 65px;
  border: 1px solid #262a2e;
  border-radius: 6px;
  background: none;
}

.contact-btn:hover {
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
}

.contact-link {
  text-decoration: none;
  color: white;
}

.contact-link:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.projects {
  background-color: black;
}

.last-projects {
  color: var(--secondary-color);
  font-size: 50px;
  font-weight: 900;
}

.app-name {
  color: var(--third-color);
  font-weight: 800;
}

.app-info {
  color: var(--fourth-color);
}

.built-with {
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
  color: var(--fourth-color);
}

.services {
  background: black;
  padding-bottom: 60px;
}

.services-cols {
  background: black !important;
}

.services-h3 {
  color: var(--secondary-color);
  font-size: 50px;
  font-weight: 900;
}

.services-content {
  color: var(--fourth-color);
  border-radius: 4px;
  background: black;
  padding: 12px;
}

.services-content:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.services-icons {
  font-size: 35px;
  padding-bottom: 5px;
  font-weight: 600;
  color: var(--third-color);
}

.services-title {
  font-size: 15px;
  padding-top: 4px;
  margin-bottom: 4px;
  font-weight: 700;
}

.services-info {
  margin-bottom: 0;
  font-size: 11px;
}

.footer {
  position: static;
  background: black;
  padding: 10px 0;
  text-align: center;
}

.icons {
  color: var(--secondary-color) !important;
  padding: 0 30px;
  font-size: 25px;
}

.icons:hover {
  color: var(--third-color) !important;
}

.cols {
  margin: 0 10px;
  padding: 0;
}

.imgs {
  border: 3px solid var(--fifth-color);
  max-width: 100%;
  border-radius: 8px;
}

.imgs:hover {
  border: 5px solid var(--fifth-color);
  /*box-shadow: var(--primary-box-shadow);*/
  cursor: pointer;
}

.hero-about-container {
  background-image: url("../images/about-hero_4.jpg");
  background-size: cover;
}

.about-h1,
.work-h1 {
  font-size: 110px;
  color: var(--secondary-color);
}

.coder-about {
  color: white !important;
}

.about-description,
.work-description {
  color: var(--fourth-color);
  margin-top: 50px !important;
  text-align: justify;
}

.skills-container {
  height: 550px;
}

.professional-skills-h3 {
  color: var(--secondary-color);
  font-size: 50px;
  font-weight: 900;
}

.work-skills-h3 {
  color: var(--secondary-color);
  font-size: 50px;
  font-weight: 900;
}

.interest-container {
  height: 270px;
}

.interest-h3 {
  color: var(--secondary-color);
  font-size: 50px;
  font-weight: 900;
}

.interest-row {
  padding-top: 50px;
}

.interest-icons {
  color: var(--third-color);
  font-size: 50px;
}

.interest-icons-text {
  color: var(--fourth-color);
  font-size: 15px;
  font-weight: 800;
  padding-top: 10px;
}

.hero-work-container {
  background-image: url("../images/work-hero_2.jpg");
  background-size: cover;
}

.work-projects {
  margin-bottom: 100px !important;
}

.projects-grid {
  margin-bottom: 70px;
  margin-top: 70px;
}

.project-titles {
  font-size: 30px;
}

.work-built-with {
  margin-top: 20px;
  font-size: 14px;
  color: rgb(165, 165, 165);
}

.project-description {
  text-align: justify;
}

.description-left {
  padding-right: 30px;
}

.imgs-work {
  max-width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.app-links {
  margin-top: 10px !important;
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: rgb(100, 197, 188);
  color: white;
}

.app-links:hover {
  color: white;
  background-color: rgb(250, 151, 168, 0.9);
  box-shadow: var(--box-shadow);
}

@media (min-width: 576px) {
  .greetings {
    font-size: 110px;
  }

  .hello {
    font-size: 75px;
  }

  .developer {
    font-size: 30px;
  }
  .services {
    margin: 34px !important;
    margin-bottom: 5px !important;
    padding-bottom: 40px;
  }

  .services-content {
    padding-top: 10px !important;
    padding-bottom: 4px;
    border-radius: 0;
    padding: 0;
  }

  .services-cols {
    border-radius: 1px;
    background: white;
    padding: 12px;
  }

  .services-cols {
    padding: 5px !important;
  }

  .services-icons {
    font-size: 20px;
  }

  .services-responsive {
    display: none;
  }
}

@media (max-width: 771px) {
  .greetings {
    font-size: 80px;
  }

  .content {
    margin-left: 40px;
    margin-top: 200px;
  }

  .hello {
    font-size: 35px;
  }

  .developer {
    font-size: 15px;
  }

  .services-title {
    font-size: 11px;
  }
}

@media (max-width: 576px) {
  .greetings {
    font-size: 50px;
  }

  .content {
    margin-left: 40px;
    margin-top: 200px;
  }

  .hello {
    font-size: 35px;
  }

  .developer {
    font-size: 15px;
  }

  .recent-projects {
    margin: 2px !important;
  }

  .last-projects,
  .services-h3 {
    font-size: 33px;
  }

  .services {
    display: none;
  }

  .services-container-responsive {
    padding: 0 16px !important;
    margin-bottom: 10px;
  }

  .services-icons-responsive {
    font-size: 25px;
  }

  .services-title-responsive {
    font-size: 11px;
    text-align: center;
    padding-top: 5px;
  }

  .hide {
    display: none;
  }

  .built-with {
    font-size: 8px;
  }

  .icons {
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  .greetings {
    font-size: 40px;
  }

  .content {
    margin-left: 30px;
    margin-top: 200px;
  }

  .hello {
    font-size: 25px;
  }

  .developer {
    font-size: 15px;
  }

  .icons {
    padding: 0 20px;
  }
}

@media (min-width: 1500px) {
  .greetings {
    font-size: 150px !important;
  }

  .content {
    margin-left: 150px;
    margin-top: 0px;
  }

  .hello {
    font-size: 75px;
  }

  .developer {
    font-size: 35px;
  }

  .services-icons {
    font-size: 40px;
  }

  .icons {
    padding: 0 30px;
  }
}
